<link rel="stylesheet" type="text/css" href="edit.css">

<h1>Editing Book</h1>
<%= form_for(@book) do |book| %>
    <h4>Title</h4>
    <%= book.text_field :title %>
    <h4>Body</h4>
    <%= book.text_area :body %>
    <br><%= book.submit 'Update Book' %> 
    <br>

    <%= link_to "show", book_path(@book.id) %> 
   |
<%= link_to "Back", books_path %> 
   
<% end %>
