<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
 
<% @books.each do |book|%>
  <div class="book">
  <p><%= link_to book.name, edit_book_path(book.id) %></p>
  <p><%= book.yomi %></p>
  <p><%= book.phone %></p>
  </div>
<% end %>
<%= link_to "新規登録", new_book_path %>
